.projectsList {
    display: flex;
    width: 75vw;
    margin: 0 auto;
    flex-wrap: wrap;
    text-align: center;
}

.project {
    width: 25vw;
    text-align: center;
}
.show {
    animation: fadeIn 0.5s;
}
.hide {
    animation: fadeOut 0.5s;
    display:none;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

.horizontal {
    padding-inline-start: 0;
    list-style: none;
    margin: 1rem;
    display: flex;
    justify-content: center;
}


.horizontal > li {
    display: inline-block;
    margin-right: 1%;
    transition: max-width 0.25s, opacity 0.25s, margin 0.25s;
} 

.icon {
    height: 40px;
    margin: 0 5px;
}


