#root {
  max-width: 80vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.card {
  padding: 2em;
}

.gray {
  color: #888;
}

#projects {
  /* position: relative;
  bottom: 0; */
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.vertical-filler {
  height: 30vh;
}